@use "_variables.module";
@use "_mixins.module";

.appWrapper {
  width: 100%;
  height: 100vh;
  background-color: variables.$bg_darkblue;
 @include mixins.flex-center
}

.article {
  color: variables.$txt_default;
}